appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
beautifulsoup4==4.9.1
black==19.10b0
click==7.1.2
curve25519==0.1
dodgy==0.2.1
donna25519==0.1.1
entrypoints==0.3
flake8==3.7.9
google==2.0.3
importlib-metadata==1.6.0
isort==4.3.21
lazy-object-proxy==1.4.3
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
nr.collections==0.0.1
nr.databind.core==0.0.14
nr.databind.json==0.0.9
nr.interface==0.0.2
nr.metaclass==0.0.5
nr.parsing.date==0.1.0
nr.pylang.utils==0.0.2
nr.stream==0.0.3
pathspec==0.8.0
pathtools==0.1.2
pdoc3==0.8.1
pep8-naming==0.4.1
pkg-resources==0.0.0
prospector==1.2.0
protobuf==3.15.0
pycodestyle==2.4.0
pycryptodome==3.9.7
pydoc-markdown==3.0.2
pydocstyle==5.0.2
pyflakes==2.1.1
pylint==2.4.4
pylint-celery==0.3
pylint-django==2.0.12
pylint-flask==0.6
pylint-plugin-utils==0.6
PyQRCode==1.2.1
PyYAML==5.4
regex==2020.4.4
requirements-detector==0.6
rope==0.16.0
setoptconf==0.2.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.0.1
toml==0.10.0
typed-ast==1.4.1
typing==3.7.4.1
watchdog==0.10.2
websocket-client==0.57.0
websockets==9.1
wrapt==1.11.2
yapf==0.30.0
zipp==3.1.0
